.hero {
    position: relative;
    height: 100vh;
    background-image: url('https://cdn.wallpapersafari.com/50/12/i5xmUO.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
